<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>688761908654-6n0g9a9v3s60rou24n74a8tqfnnhghoj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688761908654-6n0g9a9v3s60rou24n74a8tqfnnhghoj</string>
	<key>API_KEY</key>
	<string>AIzaSyB_sXrvwfE6lYWeaU2xY0AzgjjLGTeF_DI</string>
	<key>GCM_SENDER_ID</key>
	<string>688761908654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinh.vmovies</string>
	<key>PROJECT_ID</key>
	<string>vmovies-1f56b</string>
	<key>STORAGE_BUCKET</key>
	<string>vmovies-1f56b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688761908654:ios:cf7bbef1f1594776822c3f</string>
</dict>
</plist>